.Settings-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Settings-link {
  color: #ffffff;
  text-decoration: none;
  margin-top: 25px;
}

.Settings-Text { 
  font-size: 18pt;
}

.Settings-SubText { 
  font-size: 12pt;
}

.Settings-Identifier { 
  font-size: 10pt;
  width: 300px;
  background-color: lightgray;
}
