.App {
  text-align: center;
  color: #ffffff;
}

.App-link-image {
  margin-top: 5px;
  margin-left: 10px;
}

.App-link {
  float: left;
}

.App-auth {
  float: right;
}

.App-privacy-container {
  position: relative;
}

.App-privacy {
  color: #ffffff;
  position: fixed;
  text-decoration: none;
  bottom: 0; 
  width: 0%;
  margin-bottom: 25px;
}

button {
  color: white;
  background-color: gray;
  font-size: medium;
  padding: 5px;
  margin: 10px;
}
