.App {
  text-align: center;
  color: #ffffff;
}

.App-link-image {
  margin-top: 5px;
  margin-left: 10px;
}

.App-link {
  float: left;
}

.App-auth {
  float: right;
}

.App-footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.App-footer-link {
  color: white;
  text-decoration: none;
  margin-bottom: 25px;
}

.App-footer-link-separator {
  color: gray;
  margin-bottom: 25px;
}

button {
  color: white;
  background-color: gray;
  font-size: medium;
  padding: 5px;
  margin: 10px;
}

input,
select,
textarea {
  font-size: medium;
  padding: 5px;
  margin: 10px;
}
