* {
  box-sizing: border-box;
}

.template-1 { width: 30%; }

[class*="template-"] {
  float: left;
  padding: 10px 25px;
  margin: 10px;
  height: 190px;
}

.nameTemplate { 
    text-align: center;
    font-size: 18pt;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 40px;
}

.commentTemplate { 
    text-align: left;
    font-size: 14pt;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow: hidden;
    height: 100px;
}

.opponentTemplate {
    margin: 10px;
    text-align: right;
    font-size: 12pt;
    color: #959595;
    height: 25px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="template-"] {
  background-color: #454545;
}

[class*="template-"]:hover {
  background-color: #656565;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  [class*="template-"] {
    width: 95%;
  }
}
