* {
  box-sizing: border-box;
}

.GameList-titleWrapper {
  width: 100%;
  text-align: center;
}

.GameList-title {
  font-size: calc(14px + 2vmin);
  text-align: center;
  color: white;
  background-color: #353535;
  padding: 5px 15px 5px 15px;
  margin: 10px;
  border: none;
}

.GameList-title:hover {
  background-color: #656565;
}

.GameList-childtitle {
  font-size: calc(14px + 2vmin);
  text-align: center;
  color: white;
  background-color: #454545;
  padding: 5px 15px 5px 15px;
  margin: 10px;
  border: none;
}

.GameList-childtitle:hover {
  background-color: #656565;
}

.GameList-filterList {
  font-size: calc(10px + 2vmin);
}

.GameList-link {
  color: #ffffff;
}

.gameTemplate { 
  float: left;
  padding: 10px 25px;
  margin: 10px;
  height: 190px;
  background-color: #454545;
  width: 30%;
}

.gameTemplate:hover {
  background-color: #656565;
  cursor: pointer;
}

.nameTemplate { 
  text-align: center;
  font-size: 18pt;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 40px;
}

.commentTemplate { 
  text-align: left;
  font-size: 14pt;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow: hidden;
  height: 50%;
}

.opponentTemplate {
  text-align: right;
  font-size: 12pt;
  color: #959595;
  height: 25px;
}

.opponentIconTemplate {
  vertical-align: middle
}

.dateTemplate {
  text-align: right;
  font-size: 12pt;
  color: #959595;
  height: 25px;
}

.statusTemplate {
  position: relative;
  top: -25px;
  text-align: left;
  font-size: 12pt;
  color: #959595;
  height: 25px;
}

.row {
  text-align: center;
  justify-content: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 768px) {
  .gameTemplate {
    width: 85%;
  }
}
