.aboutText-Container {
    text-align: center;
    padding: 20px;
}

.aboutText {
    font-size: calc(6px + 2vmin);
    display: inline-block;
    text-align: left;
}

.About-link {
    color: white;
    text-decoration: underline;
    margin-bottom: 25px;
}

.About-code {
    color: white;
}
