@page "/privacy"

<div>
	<div class="title">Privacy Policy</div>
	<div class="lastUpdatedText">Last updated: Aug 14th, 2020</div>
	<div class="privacyText-Container">
	<div class="privacyText">
		My Chess uses Microsoft Account or Azure AD account for authentication.<br /><br />
		During the authentication process user's account email address and technical identifier are stored into our system.<br /><br />
		It's only used for identifying users and nothing else. <br /><br />
		This information is not shared with anyone.
	</div>
	</div>
</div>
