.Play-Error {
    padding: 10px;
    text-align: left;
    font-size: calc(10px + 2vmin);
    color: red;
}

.Play-Form {
    padding: 10px;
    font-size: calc(10px + 2vmin);
}

.Play-GameName {
    font-size: calc(12px + 2vmin);
    padding: 5px;
    margin: 10px;
    width: inherit;
}

input[type=text] {
    width: 400px;
}

textarea {
    width: 400px;
    height: 150px;
    overflow-wrap: break-word;
    padding: 5px 2px;
    box-sizing: border-box;
    border-radius: 2px;
    resize: none;
}

.Play-Padding {
    height: 200px;
}
