@inherits GameListBase
@using MyChess.Client.Extensions

<div>
	<div class="GameList-titleWrapper">
		<button class="GameList-title" @onclick="ToggleFilterVisibility">@Title

			@if (ShowFilters)
			{
				<span role="img" aria-label="Close filter">&#9652;</span>
			}
			else
			{
				<span role="img" aria-label="Open filter">&#9662;</span>
			}
		</button>
		@if (ShowFilters)
		{
			<div class="GameList-filterList">
				Show games:<br />
				<button class="GameList-childtitle" @onclick="WaitingForYou">Waiting for you</button>
				<button class="GameList-childtitle" @onclick="WaitingForOpponent">Waiting for opponent</button>
				<button class="GameList-childtitle" @onclick="Archive">Archive</button>
			</div>
		}
	</div>

	@if (Games == null)
	{
		<p><em>Loading...</em></p>
	}
	else
	{
		<div class="row">
			@foreach (var game in Games)
			{
				<a href="/play/@game?.ID?state=@Filters" class="GameList-link">
					<div class="gameTemplate">
						<div class="nameTemplate">
							@game?.Name
						</div>
						<div class="commentTemplate">
							@if (game?.Moves.Count > 0)
							{
								@game?.Moves[game.Moves.Count - 1].Comment
							}
						</div>
						<div class="opponentTemplate">
							@game?.GetOpponent()
						</div>
						<div class="dateTemplate">
							@game?.GetDate()
						</div>
						<div class="statusTemplate">
							@game?.GetStatus()
						</div>
					</div>
				</a>

			}
		</div>
		<div class="subtitle">
			Or <button @onclick="AddNewGame">add new</button> game.
		</div>
	}
</div>
