@inherits LayoutComponentBase

<div className="App">
	<div className="App-header-container">
	<a href="/"><img src="/images/logo.svg" alt="My Chess" className="App-logo" /></a>
	<div className="App-auth">
		<Profile />
	</div>
	</div>

	@Body

	<footer className="App-footer-container">
		<a href="/About" className="App-footer-link">About </a>
		<span className="App-footer-link-separator">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
		<a href="/privacy" className="App-footer-link">Privacy</a>
		<span className="App-footer-link-separator">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
		<a href="/play/local" className="App-footer-link">Play locally</a>
	</footer>
</div>
