@inherits LayoutComponentBase

<div class="App">
	<div class="App-header-container">
	<a href="/"><img src="/images/logo.svg" alt="My Chess" class="App-logo" /></a>
	<div class="App-auth">
		<Profile />
	</div>
	</div>

	@Body

	<footer class="App-footer-container">
		<a href="/About" class="App-footer-link">About </a>
		<span class="App-footer-link-separator">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
		<a href="/privacy" class="App-footer-link">Privacy</a>
		<span class="App-footer-link-separator">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
		<a href="/play/local" class="App-footer-link">Play locally</a>
	</footer>
</div>
