<div className="Profile">
    Want to play? Please
    <button className="Profile-button">sign In</button>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
