<div className="Profile">
	<a href="/settings" className="Profile-link"><img src="images/profile.svg" alt="Profile" /></a>
</div>

<div className="Profile">
	Want to play? Please
	<button className="Profile-button" @onclick="SignIn">sign In</button>
</div>
