@inherits ProfileBase

<AuthorizeView>
    <Authorized>
		<div className="Profile">
			<a href="/settings" className="Profile-link"><img src="images/profile.svg" alt="Profile" /></a>
		</div>
    </Authorized>
    <NotAuthorized>
		<div className="Profile">
			Want to play? Please
			<button className="Profile-button" @onclick="NavigateToLogin">sign In</button>
		</div>
    </NotAuthorized>
</AuthorizeView>
