{
  /*
  The following identity settings need to be configured
  before the project can be successfully executed.
  For more info see https://aka.ms/dotnet-template-ms-identity-platform
  */
  "AzureAd": {
    "Authority": "https://login.microsoftonline.com/common",
    "ClientId": "your client id",
    "ValidateAuthority": true
  },
  "applicationIdURI": "api://your api identifier/",
  "instrumentationKey": "your application insights instrumentation key",
  "webPushPublicKey": "your webpush public key"
}
